
<ul class="layui-nav layui-bg-green layui-nav-tree  lay-filter="test">
<!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
  <li class="nav-li-title">
    <span><img src="__STATIC__/img/build.png" alt="" width="18px"></span>
    <span> 小程序车队</span>
  </li>
  
  <li class="layui-nav-item ">
    <a href="{{:url('admin/wxapp/index')}}">车队列表</a>
  </li>

  <li class="layui-nav-item ">
    <a href="{{:url('admin/wxapp/recycle')}}">回收站</a>
  </li>

  <li class="layui-nav-item">
    <a href="javascript:;">权限管理</a>
  </li>

  <li class="nav-li-title">
    <span><img src="__STATIC__/img/set.png" alt="" width="18px"></span>
    <span> 系统设置</span>
  </li>


  <li class="layui-nav-item"><a href="">清理缓存</a></li>
  <li class="layui-nav-item"><a href="">环境检测</a></li>
</ul>


